body {
    background: rgba(106, 125, 142, 0.1);
    background-image: url(https://images.pexels.com/photos/136317/pexels-photo-136317.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    text-align: center;
}
img {
    opacity: 0.2;

}